body {
    background-size: 40px 40px;
    background-color: #2D2D2D;
    background-image: 
    linear-gradient(to right, rgb(95, 94, 94) 1px, transparent 1px),
    linear-gradient(to bottom , rgb(95, 94, 94) 1px, transparent 1px);
}


@font-face {
    font-family: 'wakuwaku';
    src: url('./mini-wakuwaku.otf');
}

.title {
    text-align: center;
    margin-top: 150px;
    font-family: 'wakuwaku';
    font-size: 55px;
    color: #8789E8;
    text-shadow: -3px 0 #D7D7D7, 0 3px #D7D7D7, 3px 0 #D7D7D7, 0 -3px #D7D7D7;
}

input {
    font-family: 'wakuwaku';
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 22px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #A4A4A4;
    background-color: #090808;
    border-radius: 10px;
    border: 2px solid #8789E8;
}

.signUpButton {
    font-family: 'wakuwaku';
    text-align: center;
    margin-top: 20px;
    background-color: #8789E8;
    border: 2px solid #D7D7D7;
    padding: 20px;
    font-size: 22px;
    padding-left: 85px;
    padding-right: 85px;
    margin-left: 5%;
    border-radius: 10px;
}